/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/tutorials.iml
/.ipynb_checkpoints/3. Creating alpha signals-checkpoint.ipynb
.idea